<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> wip editable page </title>
    <meta name = "description" content = "My Blog">
</head>

<body>
    <form method="POST" action="">
        <input type="text" value="{{data['page_name']}}" name="page_name" />
        <textarea name="content">
        {{data["content"]}}
        </textarea>
        {% if data["page_name"] == "" %}
        <button type="submit">Create</button>
        {% else %}
        <button type="submit">Edit</button>
        {% endif %}
        
    </form>
</body>

</html>