{% extends "base.html" %}

{% block content %}
    <h1>About: </h1>
    <p> Hello, this is my blog. Made solely for the purpose of experimenting with flask. It took some work, but I got here.</p>
    <p> Have a wonderful day! :) </p>
{% endblock %}



<!--<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
    </head>
    <body>
        <h1> About: </h1>
        <p>
            kldsjaf;lkjjl;asjdflk;j;kljklj;ljkljj;;ljd;k
            asdf;lkjaf;lj
            ajsdfkl;jasd
        </p>
    </body>
</html>-->
